body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input, button {
    padding: 8px;
    margin: 5px;
    width: 80%;
}

.menu-item {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
}
.category {
    margin: 20px auto;
}

.category img {
    border-radius: 15px;
    margin-bottom: 10px;
}

.menu-item {
    margin: 5px;
}
